<div class="container">
  <pagination-controls
    (pageChange)="pageChanged($event)"
    class="text-center"
  ></pagination-controls>
  <div class="container">
    <div class="row">
      <ships-details
        *ngFor="
          let ship of starShipsList$ | async | paginate: config;
          let i = index
        "
        [starship]="ship"
        (onOpenDetails)="showModalDetails($event)"
      ></ships-details>
    </div>
  </div>
</div>

<!-- Modal Details-->
<div
  class="modal fade"
  id="shipsDetailModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ starShipModal.name }}
        </h5>
      </div>
      <div class="modal-body">
        <span>Model : {{ starShipModal.model }}</span>
        <hr />
        <span>Manufacturer: {{ starShipModal.manufacturer }}</span>
        <hr />
        <span>Lenght: {{ starShipModal.length }}</span>
        <hr />
        <span>Credits: {{ starShipModal.cost_in_credits }}</span>
        <hr />
        <span>Starship Class: {{ starShipModal.starship_class }}</span>
        <hr />
        <span>Consumables: {{ starShipModal.consumables }}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
